<img src="https://github.com/LucaScaldaferri/Curso_Cientista_de_Dados/blob/main/logo_ebac.png?raw=true" alt="ebac-logo">


---

# **Profissão Cientista de Dados**
## **Módulo** 5 | Limpeza e Preparação de Dados | Exercício 1
Resolução Caderno de **Exercícios**<br> 
Aluno [Lucas Scaldaferri Magalhães Freitas](https://www.linkedin.com/in/0scaldaferri-lucas/) <br>

---

# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo ```SINASC_RO_2019.csv``` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo ```estrutura_sinasc_para_CD.pdf``` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
``` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
```
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis ```['ESTCIVMAE', 'CONSULTAS']``` possuem o código ```9```, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código ```9```.<br>
6. Substitua os valores faltantes da quantitativa (```QTDFILVIVO```) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção ```inplace = True```.

In [136]:
import pandas as pd
import requests

# 1.
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [137]:
# 2.

sinasc.isna().sum().sort_values(ascending=False)

DTRECORIGA    27028
CODANOMAL     26814
IDADEPAI      19421
SERIESCMAE    12710
DTULTMENST    10072
              ...
PESO              0
DTCADASTRO        0
NUMEROLOTE        0
VERSAOSIST        0
ORIGEM            0
Length: 69, dtype: int64

In [138]:
# 3.

sinasc.loc[:,['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']].isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [155]:
# 4.

sinasc.dropna(subset=['APGAR5'], inplace = True)
sinasc['APGAR5'].isna().sum()

0

In [140]:
# 5.
5, 14

print((sinasc['ESTCIVMAE'] == 9).sum())
print((sinasc['CONSULTAS'] == 9).sum())

sinasc[sinasc['ESTCIVMAE'] == 9] = np.nan
sinasc[sinasc['CONSULTAS'] == 9] = np.nan

print((sinasc['ESTCIVMAE'] == 9).sum())
print((sinasc['CONSULTAS'] == 9).sum())

145
51
0
0

In [150]:
# 6.

sinasc['QTDFILVIVO'].fillna(0, inplace = True)

In [161]:
# 7.

sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']].head(10)

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1.0,19.0,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4.0,10.0
1,1.0,29.0,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4.0,9.0
3,1.0,30.0,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3.0,10.0
4,1.0,30.0,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4.0,10.0
5,1.0,33.0,5.0,1 a 3 anos,2.0,37 a 41 semanas,Única,4.0,10.0
6,1.0,37.0,1.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4.0,10.0
7,1.0,27.0,2.0,12 anos ou mais,0.0,37 a 41 semanas,Única,4.0,10.0
8,1.0,20.0,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,3.0,9.0
9,1.0,30.0,2.0,1 a 3 anos,1.0,37 a 41 semanas,Única,4.0,10.0
10,1.0,31.0,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4.0,9.0

In [164]:
sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']].isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         288
QTDFILVIVO       0
GESTACAO      1197
GRAVIDEZ        75
CONSULTAS        0
APGAR5           0
dtype: int64

In [173]:
sinasc['ESTCIVMAE'].value_counts()

2.0    9893
1.0    8881
5.0    7135
4.0     450
3.0      57
Name: ESTCIVMAE, dtype: int64

In [177]:
# Os dados são muito próximos, "não há como direcionar", o estado civil da mãe.
sinasc.dropna(subset=['ESTCIVMAE'], inplace = True)
sinasc['ESTCIVMAE'].isna().sum()

0

In [170]:
sinasc['ESCMAE'].value_counts()

8 a 11 anos        15477
12 anos ou mais     5724
4 a 7 anos          4695
1 a 3 anos           508
Nenhuma               39
Name: ESCMAE, dtype: int64

In [183]:
# Em virtude da quantidade de dados de dados faltantes e da quantidade de pessoas com escolaridade 8 a 11 anos muito acima dos demais.
sinasc['ESCMAE'].fillna('8 a 11 anos', inplace = True)
sinasc['ESCMAE'].isna().sum()

0

In [171]:
sinasc['GESTACAO'].value_counts()

37 a 41 semanas        22367
32 a 36 semanas         2222
42 semanas e mais        693
28 a 31 semanas          161
22 a 27 semanas           84
Menos de 22 semanas        7
Name: GESTACAO, dtype: int64

In [184]:
# Mesmo caso anterior, pouco dado faltante, base de dados muito grande e muitas pessoas com mesmo tipo de informação.
sinasc['GESTACAO'].fillna('37 a 41 semanas', inplace = True)
sinasc['GESTACAO'].isna().sum()

0

In [172]:
sinasc['GRAVIDEZ'].value_counts()

Única              26164
Dupla                487
Tríplice e mais        5
Name: GRAVIDEZ, dtype: int64

In [185]:
# Mesmo caso anterior, pouco dado faltante, base de dados muito grande e muitas pessoas com mesmo tipo de informação.
sinasc['GRAVIDEZ'].fillna('Única', inplace = True)
sinasc['GRAVIDEZ'].isna().sum()

0

In [192]:
# 8.

sinasc.loc[sinasc['APGAR5'] < 3, 'CAT_APGAR5'] = 'asfixia severa'
sinasc.loc[(sinasc['APGAR5'] >= 4) & (sinasc['APGAR5'] <= 5), 'CAT_APGAR5'] = 'asfixia moderada'
sinasc.loc[(sinasc['APGAR5'] >= 6) & (sinasc['APGAR5'] <= 7), 'CAT_APGAR5'] = 'asfixia leve'
sinasc.loc[sinasc['APGAR5'] >= 8, 'CAT_APGAR5'] = 'normal'

sinasc['CAT_APGAR5'].value_counts()

normal              25964
asfixia leve          312
asfixia moderada       68
asfixia severa         57
Name: CAT_APGAR5, dtype: int64

In [202]:
# 9.

sinasc.columns = sinasc.columns.str.lower()
sinasc.head()

,origem,codestab,codmunnasc,locnasc,idademae,estcivmae,escmae,codocupmae,qtdfilvivo,qtdfilmort,...,contador,munresstatus,munrestipo,munresnome,munresuf,munreslat,munreslon,munresalt,munresarea,cat_apgar5
0,1.0,2679477.0,110001.0,1.0,19.0,5.0,8 a 11 anos,NaN,0.0,0.0,...,1.0,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025,normal
1,1.0,2679477.0,110001.0,1.0,29.0,2.0,8 a 11 anos,999992.0,1.0,0.0,...,2.0,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025,normal
3,1.0,2516500.0,110001.0,1.0,30.0,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4.0,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273,normal
4,1.0,2516500.0,110001.0,1.0,30.0,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5.0,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025,normal
5,1.0,2516500.0,110001.0,1.0,33.0,5.0,1 a 3 anos,621005.0,2.0,1.0,...,6.0,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025,normal